<div class="container_home">
	<app-card gameCover="assets/bt-1.jpg" gameLabel="Exclusive" gamePrice="R$ 169,90" gameType="Digital PS5" gameMessage="Play it now"></app-card>
	<app-card gameCover="assets/bt-4.jpg" gameLabel="Compre já" gamePrice="R$ 239,90" gameType="disc Xbox one" gameMessage="Jogue agora"></app-card>
	<app-card gameCover="assets/bt-5.jpg" gameLabel="Top" gamePrice="R$ 239,90" gameType="Digital PS3 PS4 PS5" gameMessage="Novidade"></app-card>
	<app-card gameCover="assets/ac-cover.jpg" gameLabel="Best seller" gamePrice="R$ 139,90" gameType="Disc PS3" gameMessage="Jogue agora"></app-card>
	<app-card gameCover="assets/bt-hardline.jpg" gameLabel="Jogo do ano" gamePrice="R$ 3239,90" gameType="Digital Xbox one" gameMessage="Play it now"></app-card>
</div>
